<div class=" max-w-full px-5 py-5">
  <div class="grid grid-cols-1 gap-1 sm:grid-cols-2">
    <div class="hidden sm:block intro text-center sm:text-left">
      <!-- <div id="controls-carousel" class="bubble thought thought2 relative" data-carousel="slide">
        <div class="overflow-hidden relative h-48 rounded-lg sm:h-10">
            <p class="hidden duration-700 ease-in-out" data-carousel-item>dvdsbvdf</p>
            <p class="hidden duration-700 ease-in-out" data-carousel-item="active">hdvbhdsbvds</p>
        </div>
      </div> -->

      <h1>Fastest </h1>
      <h1 class="text-red-700">Food Delivery</h1>
      <h1 class="hidden sm:block">In Our Country</h1>
      <p class="hidden sm:block">This sunny and spacious room is for those traveling light and looking for a comfy and
        cosy place to lay their head for a night or two. This beach house sits in a vibrant neighborhood littered with
        cafes, pubs, restaurants and supermarkets and is close to all the major attractions such as Edinburgh Castle and
        Arthur's Seat.</p>
      <button 
        (click)="scrollView()"
        type="button"
        class="bg-headermobile h-12 pt-3 inline-flex text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">
        Commander &nbsp;
        <svg class="w-6 h-6 dark:text-white motion-safe:animate-wiggle" fill="none" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </button>
    </div>
    <div class="food">
      <img class="hidden sm:block ml-24" src="../../assets/Logo-livraison.png" />
      <img class="block sm:hidden" src="../../assets/kaly.jpg" />
    </div>
    <div class="block text-center sm:hidden">
      <h1>Fastest <img src="../../assets/scooter.png" alt="scooter"></h1>
      <h1 class="text-red-700">Food Delivery</h1>
      <h1 class="hidden sm:block">In Our Country</h1>
      <p class="hidden sm:block">This sunny and spacious room is for those traveling light and looking for a comfy and
        cosy place to lay their head for a night or two. This beach house sits in a vibrant neighborhood littered with
        cafes, pubs, restaurants and supermarkets and is close to all the major attractions such as Edinburgh Castle and
        Arthur's Seat.</p>
      <button 
        type="button"
        class="bg-headermobile inline-flex h-12 pt-3 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg">
        Commander &nbsp;
        <svg class="w-6 h-6 dark:text-white motion-safe:animate-wiggle" fill="none" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </button>
    </div>
  </div>
</div>
