<div class="card">
    <div class="card-body">
      <h4 class="card-title">Liste des commandes</h4>
      <!-- <h5 class="card-subtitle text-muted">Overview of the projects</h5> -->
      <div class="table-responsive">
        <table class="table align-middle text-nowrap">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4">Date</th>
                    <th class="text-dark font-medium fs-4">Client</th>
                    <th class="text-dark font-medium fs-4">Restaurant</th>
                    <th class="text-dark font-medium fs-4">Etat</th>
                    <th class="text-dark font-medium fs-4">Détails</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let cmd of commandes'>
                    <td class="fs-4">{{cmd.date}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div>
                                <h5 class="mb-0 font-medium">{{cmd.client.last_name+" "+cmd.client.first_name}}</h5>
                                <span class="text-muted">{{cmd.client.city}}</span>
                            </div>
                        </div>
                    </td>
                    <td class="fs-4">{{cmd.restaurant.nom}}</td>
                    <td class="fs-4">{{cmd.etat}}</td>
                    <td class="fs-4"><a class="details-commande"><i class="bi bi-info-circle" (click)="showModal(cmd)"></i></a></td>                                                 
                </tr>              
            </tbody>
        </table>
    </div>
    </div>
  </div>

  <div #exampleModalCenter class="modal modal-commande"> 
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Détails commande</h5>
          <a class="details-commande"><i class="bi bi-x-circle" (click)="hideModal()"></i></a>
        </div>
        <div class="modal-body">
          <table class="table table-hover align-middle text-nowrap table-bordered">
            <thead>
                <tr>
                    <th class="text-dark font-medium fs-4"></th>
                    <th class="text-dark font-medium fs-4">Nom</th>
                    <th class="text-dark font-medium fs-4">Prix</th>
                    <th class="text-dark font-medium fs-4">Quantité</th>
                    <th class="text-dark font-medium fs-4">Total</th>
                </tr>
            </thead>
            <tbody *ngIf="cmdFille" class="details-commande-body">
               <tr *ngFor="let plat of cmdFille.plats">
                 <td>
                   <img src="{{'./assets/images/plats/'+plat.objetPlat.image}}" >
                  </td>
                  <td>{{plat.objetPlat.nom}}</td>
                  <td>{{plat.objetPlat.prix}}</td>
                  <td>{{plat.quantite}}</td>
                  <td>{{plat.quantite * plat.objetPlat.prix}}</td>
               </tr>
            </tbody>
        </table>
        </div>
      </div>
    </div>
 </div>
