
  <div class="card shadow-md">
    <div class="imgbox">
      <img src="../../assets/b.png" class="img" />
      <h2 class="text-lg font-black text-white text-slate-900">Burgeur</h2>
    </div>
    <div class="content">
      <div class="size">
        <h3 class="font-mono">prix : </h3>
         <p>12 000 <span>AR</span></p>
      </div>
      <div class="color">
        <h3 class="font-mono">choix : </h3>
          <span>BF</span>
          <span>PL</span>
          <span>PS</span>
      </div>
      <button class="h-10 px-6 m-auto font-semibold rounded-md bg-headermobile text-white" type="submit">
        Buy now
      </button>
    </div>
  </div>
